.btn {
  display: inline-block;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  padding: 0.6em;
  border: none;
  font-size: 1em;
  color: white;
  background-color: #009682;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: 600;
}

.btn:hover {
  background-color: #007E6D;
}
